body {
	font-family: "Lekton","HelveticaNeue","Helvetica Neue",sans-serif;
	letter-spacing: 0.085em;
}

ul {
  list-style-type: none;
}

.app-container {
  text-align: center;
  margin-top: 10px;
}

.searchbar-container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  width: 875px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 10px;
}

.map-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-container {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -90px;
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  border: 1px solid #429ef4;
}

.nav-item {
  margin: 3px;
  padding: 2px;
}
