body {
	font-family: "Lekton","HelveticaNeue","Helvetica Neue",sans-serif;
	letter-spacing: 0.085em;
}

.app-container {
  text-align: center;
  margin-top: 10px;
}

.searchbar-container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}