*{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
	font-family: "Lekton","HelveticaNeue","Helvetica Neue",sans-serif;
	letter-spacing: 0.085em;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

nav li:first-child {
  border-right: 1px solid #f0ad4e;
  padding-right: 8px;
}

.float-right {
  float: right;
}

.clear-fix {
  overflow: auto;
  zoom: 1;
}

.app-container {
  text-align: center;
}

.header-container {
  width: 900px;
  margin: 0px auto;
  font-size: 13px;
  background-color: #333;
  border: 1px solid #a0a0a0;
}

.access-container {
  padding: 30px;
  width: 430px;
}

.dropdown-menu {
  top: 60px;
}

.input-container {
  margin: 15px 0px;
}

.searchbar-container {
  width: 350px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 50px;
  border-top: 1px solid #a0a0a0;
}

.category-container {
  border: 2px solid #0275d8;
  padding: 15px 5px;
  border-radius: 10px;
}

.category-container img {
  width: 170px;
  height: 110px;
  margin-top: 5px;
}

.map-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content-container {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -90px;
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  border: 1px solid #429ef4;
}

.nav-item {
  margin: 3px;
  padding: 2px;
}

.nav-item a {
  color: #a0a0a0;
}

.nav-item a:hover {
  color: #f0ad4e;
}

.search-btn {
  background-color: #f0ad4e;
}

.search-btn:hover {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: #333;
}

.favorites-captions {
  text-align: left; 
}

.favorites-captions ul {
  padding-left: 0px;
}

.favorites-captions ul li {
  margin: 2px;
}